<h1>Movies from the MovieDB API</h1>

<form action="/search" method="get">
    <label>Movie title
        <input type="text" name="title" placeholder="search for movie titles">
    </label>

    <input type="submit" value="search">
</form>

<ul>
    <% movies.forEach((movie)=>{%>
        <li>
            <a href="/<%= movie.id %>">
                <%= movie.title%>
            </a>
        </li>
    <%});%>
</ul>